body {
  font-family: 'Proza Libre', sans-serif;
  font-weight: 600;
  line-height: 1.5;
}

h2 {
  font-weight: 400;
  font-size: 2rem;
}

img {
  height: 245px;
  object-fit: cover;
}

input,
textarea {
  font-family: 'Open Sans', sans-serif;
  line-height: 21.79px;
  padding: 5px 5px;
}

#notes-box {
  height: 149px;
}

.save-button {
  padding: 10px;
  text-transform: uppercase;
}

.purple-background {
  background-color: #562b81;
}

.beige-background {
  background-color: #f0f0f0;
}

.white-text {
  color: white;
}

.border-radius {
  border-radius: 4px;
  border: 1px solid #b6b6b6;
}

.input-box-width {
  width: 345px;
}
